body {
	background-image: url("kinecta.png");
	background-repeat: no-repeat;
   	background-size: 99%;
	}
@media (max-width:575.98px) { 
    #comm100-float-button-2 > div { 
        bottom: 10% !important;
	left: 40% !important;
    }


